@import 'tailwindcss';
@plugin "tailwindcss-motion";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0.002 247.839);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(92% 0.006 264.531);
  --color-base-content: #162455;
  --color-primary: oklch(69% 0.17 162.48);
  --color-primary-content: oklch(97% 0.021 166.113);
  --color-secondary: oklch(70% 0.14 182.503);
  --color-secondary-content: oklch(98% 0.014 180.72);
  --color-accent: oklch(62% 0.214 259.815);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(27% 0.033 256.848);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@layer components {
  .combined-animation {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
    transition: opacity 1s ease-out, transform 1.5s ease-out;
  }

  .combined-animation.animate {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  /* 子元素初始狀態 */
  .combined-animation .item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  /* 子元素動畫狀態 */
  .combined-animation.animate .item {
    opacity: 1;
    transform: translateY(0);
  }

  /* 為每個子元素設置不同的延遲 */
  .combined-animation.animate .item:nth-child(1) {
    transition-delay: 0.2s;
  }
  .combined-animation.animate .item:nth-child(2) {
    transition-delay: 0.6s;
  }
  .combined-animation.animate .item:nth-child(3) {
    transition-delay: 1s;
  }
  .combined-animation.animate .item:nth-child(4) {
    transition-delay: 1.4s;
  }
  .combined-animation.animate .item:nth-child(5) {
    transition-delay: 1.8s;
  }

  /* TP */
  .tp-input {
    @apply input flex items-center gap-2;
  }

  .tp-input-body {
    @apply input border-0 rounded-none grow;
  }

  .tp-input-error {
    @apply input flex items-center gap-2 input-error;
  }

  .tp-input-body-error {
    @apply input border-x-0 rounded-none grow input-error;
  }

  .tp-card {
    @apply card bg-base-300 w-full;
  }

  .tp-card-body {
    @apply card-body p-3;
  }

  .flex-center {
    @apply flex justify-center place-items-center;
  }
}
